/* Container styling */
.PlaceViewContainer {
    padding: 20px;
    width: 80%;
    margin: auto;
  }
  
  /* Typography styling */
  .PlaceDetailsTitle {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Floating Table styling */
  .FloatingTableContainer {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .TableContainer {
    width: 100%;
    overflow-x: auto;
  }
  
  /* Table styling */
  .Table {
    
    border-collapse: collapse;
    width: 50%;
    background-color: #fff;
    align-content: center;
    align-items: center;
  }
  
  /* Table header styling */
  .TableHeadCell {
    background-color: #f6fff6;
    color: #fff;
    font-weight: bold;
    padding: 14px;
    text-align: center;
  }
  
  /* Table cell styling */
  .TableCell {
    padding: 14px;
    text-align: center;
    border-bottom: 1px solid #131010;
  }
  
  /* Icon styling */
  .ModeEditIcon,
  .DeleteForeverIcon {
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0 8px;
    transition: transform 0.3s ease-in-out;
  }
  
  .ModeEditIcon:hover {
    color: #2196f3;
    transform: scale(1.2);
  }
  
  .DeleteForeverIcon:hover {
    color: #f44336;
    transform: scale(1.2);
  }
  
  /* Optional: Add more styles as needed */
  